/* CSS files --> experiences.html */
body{
    height: 100%;
    background: url(images.jpg) center center fixed;
    background-size: cover;
}
ul li{
    text-shadow: 5px 5px 5px #000000
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 30px 30px;
    
}
ul li a{
    color: #000000;
    position: relative;
    padding: 5px 0;
}
ul li a:hover{
    color: #ff0077;
}
ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 5;
    height: 2px;
    background: #ff0077;
    transition: .3s;
    bottom: 0;
}
ul li a:hover:after{
    width: 100%;
}
h1{
    font-family: cursive;
    text-shadow: 5px 3px 5px #000000
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
.table-content{
    margin-left: auto; 
    margin-right: auto;
    background-color: #FEFDCA;
}
.ul-circle{
    background-color: #FFCFDF;
} 
