body{
    background-image: url("images.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
ul li{
    text-shadow: 5px 5px 5px #000000
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 30px 30px;
    
}
ul li a{
    color: #000000;
    position: relative;
    padding: 5px 0;
}
ul li a:hover{
    color: #ff0077;
}
ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 5;
    height: 2px;
    background: #ff0077;
    transition: .3s;
    bottom: 0;
}
ul li a:hover:after{
    width: 100%;
}
